.form {
	width: 90%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
}

.contact_field_content {
	display: block;
	width: 98%;
	height: 2 rem;
	margin-bottom: 5%;
	font-size: 90%;
	font-family: Ubuntu-L, Helvetica, Arial, sans-serif;
	color: var (--grey);
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
.contact_field_content {
	height: 1.5rem;
	font-size: 100%;
	margin-bottom: 3%;
	}
}

.button {
	font-size: 90%;
	height: 2rem;
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
.button{
	height: 1.5rem;
	font-size: 100%;
	}
}