@font-face{
	font-family: "Ubuntu-M";
	src: url("/fonts/Ubuntu-M.tff") format("truetype");
}
@font-face{
	font-family: "Ubuntu-L";
	src: url("/fonts/Ubuntu-L.tff") format("truetype");
}

html {
	--light-green: #eff5f5;
	--grey: #333333;
	--medium-grey: #666666;
	--light-grey: #f2f2f2;
	--blue: #006CD1;
	--orange: #ff6600;
	--light-orange: #ffe0cc;
	--light-yellow: #ffffe0;
	--red: #ff0000;
	--green: #2f4f4f;
	--medium-green: #bfd9d9;
}

body{
	display: flex;
	flex-direction: column;
	font-size: 100%;
	background-color: var(--light-green);
	color: var(--grey);
	font-family: Ubuntu-M, Helvetica, Arial, sans-serif;
}

header {
	background-color: var(--green);
}

.header_logo {
	width: 2rem;
	padding: 1% 0 0 1%;
}

@media screen and (min-width: 1024px) and (orientation: landscape){
.header_logo {
	width: 2.5rem;
	}
}

nav {
	padding: 1% 0 0 0;
}


.nav_link {
	color: white;
	text-decoration: none;
	margin-right: 1%;
	margin-bottom: 3%;
}

@media screen and (min-width: 1024px) and (orientation: landscape){
.nav_link{
	margin-bottom: 0;
	}
}

.central {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
.central{
	flex-direction: row;
	}
}

main {
	/*background-color: lightpink; */
	width: 100%;
	padding: 1%;
}


@media screen and (min-width: 1000px) and (orientation: landscape) {
main {
	/*background-color: springgreen;*/
	width: 70%;
	padding: 1%;
	}
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 130%;
}

h1,h2{
	color: var(--blue);
}

.grey {
	color: var(--grey);
}

.blue {
	color: var(--blue);
}

.red {
	color: var(--red);
}

.font_L {
	font-family: Ubuntu-L, Helvetica, Arial, sans-serif;
}

.font_M {
	font-family: Ubuntu-M, Helvetica, Arial, sans-serif;
}

.home_image{
	max-width: 96%;
}

aside {
	background-color: var(--medium-green);
	flex-grow: 1;
	padding: 1%;
}

aside > section {
	/*background-color: springGreen; */
	padding: 1%;
	margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
aside > section {
	margin-bottom: 3rem;
	}
}

footer {
	background-color: var(--green);
	color: white;
	height: 70px;
	padding: 1%;
}

.email_address {
	color: white;
}

audio, video {
	width: 98%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
audio, video {
	width: 100%;
	}
}

.pdf_image {
	width: 75px;
}