body {
	background-color: var(--light-grey);
}

h1,h2 {
	color: var(--medium-grey);
}

.image_content {
	background-color: yellow;
	margin: 10px 10px 10px 0px;
	margin-bottom: 10px;
	padding: 20px;
	width: 250px;
	height: auto;
	box-sizing: border-box;
	border: solid 6px blue;
}

.flex_fieldset {
	margin-top: 1%;
	max-width: 100%;
}

.flex_container {
	display: flex;
	width: 100%;
	background-color: var(--light-grey);
}

.flex_item {
	font-size: 20px;
	color: white;
	padding: 5px;
}

.item_bruxelles {
	background-color: navy;
}

.item_madrid {
	background-color: orange;
}

.item_oslo {
	background-color: purple;
}

.item_paris {
	background-color: forestGreen;
}

.direction_column {
	flex-direction: column;
}

.justify_center {
	justify-content: center;
}

.justify_end {
	justify-content: flex-end;
}

.justify_space_around {
	justify-content: space-around;
}

.justify_space_between{
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.container_height {
	height: 50px;
}

.flex_grow_1 {
	flex-grow: 1;
}

.flex_grow_2 {
	flex-grow: 2;
}

.align_self_start {
	align-self: flex-start;
}

.align_self_center {
	align-self: center;
}

.align_self_end {
	align-self: flex-end;
}

header {
	background-color: var(--green);
}

.header_logo {
	width: 3.5%;
	padding: 1% 0 0 1%;
}

nav {
	padding: 1%;
}

.nav_link {
	color: white;
	text-decoration: none;
	margin-right: 0.5%;
}